---
layout: default
---

{% include components/menu.html scope=site.data.en.menu %}
{% include components/cover.html covers=site.data.en.private-events.covers %}
{% include components/about.html scope=site.data.en.private-events.about %}
{% include components/gallery.html scope=site.data.en.private-events.gallery %}
{% include components/services.html scope=site.data.en.private-events.services %}
{% include components/videos.html scope=site.data.en.private-events.videos %}
{% include components/reviews.html scope=site.data.en.private-events.reviews %}
