---
layout: default
---

{% include components/menu.html scope=site.data.en.menu %}
{% include components/cover.html covers=site.data.en.home.covers %}
{% include components/about.html scope=site.data.en.home.about_1 %}
{% include components/gallery.html scope=site.data.en.home.gallery_1 %}
{% include components/about.html scope=site.data.en.home.about_2 %}
{% include components/gallery.html scope=site.data.en.home.gallery_2 %}
{% include components/videos.html scope=site.data.en.home.videos %}
