<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Yoga Pricing</h2>
      </div>
    </div>
    <div class="row align-items-stretched">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="pricing p-5 h-100 text-center bg-image no-border" style="background-image: url('images/img_1.jpg');">
          <div class="pricing-content">
            <div class="text-center mb-4">
              <h3 class="h4 mb-4">New Client Trial Week</h3>
              <strong class="font-weight-normal h1 text-white">$20</strong>
            </div>
            <ul class="list-unstyled mb-5">
              <li>1 week unlimitted classes</li>
              <li>Flexible schedule</li>
              <li>4-week series</li>
              <li>10% off Vinyasa treatment</li>
            </ul>
            <p class="mb-0"><a href="#" class="btn pill btn-outline-white">Join Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="pricing p-5 h-100 text-center">
          <div class="text-center mb-4">
            <h3 class="h4 mb-4">10 Days Yoga Class</h3>
            <strong class="font-weight-normal h1">$40</strong>
          </div>
          <ul class="list-unstyled mb-5">
              <li>10 days classes</li>
              <li>Flexible schedule</li>
              <li>4-week series</li>
              <li>10% off Vinyasa treatment</li>
            </ul>
            <p class="mb-0"><a href="#" class="btn pill btn-primary">Join Now</a></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="pricing p-5 h-100 text-center">
          <div class="text-center mb-4">
            <h3 class="h4 mb-4">20 Days Yoga Class</h3>
            <strong class="font-weight-normal h1">$70</strong>
          </div>
          <ul class="list-unstyled mb-5">
              <li>20 days classes</li>
              <li>Flexible schedule</li>
              <li>4-week series</li>
              <li>10% off Vinyasa treatment</li>
            </ul>
            <p class="mb-0"><a href="#" class="btn pill btn-primary">Join Now</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <div class="pricing p-5 h-100 text-center">
          <div class="text-center mb-4">
            <h3 class="h4 mb-4">30 Days Yoga Class</h3>
            <strong class="font-weight-normal h1">$150</strong>
          </div>
          <ul class="list-unstyled mb-5">
              <li>30 days classes</li>
              <li>Flexible schedule</li>
              <li>4-week series</li>
              <li>10% off Vinyasa treatment</li>
            </ul>
            <p class="mb-0"><a href="#" class="btn pill btn-primary">Join Now</a></p>
        </div>
      </div>

    </div>
  </div>
</div>
