<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Our Programs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="program">
          <a href="#" class="d-block mb-0 thumbnail"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
          <div class="program-body">
            <h3 class="heading mb-2"><a href="#">Embrace Your Edge</a></h3>
            <p><a href="#">Healthy Yoga</a> with <a href="#">Vicky Johnson</a></p>
            <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> 20 min</span> <span> <span class="icon-signal icon"></span> Beginner</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="program">
          <a href="#" class="d-block mb-0 thumbnail"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
          <div class="program-body">
            <h3 class="heading mb-2"><a href="#">Yoga to Build Resilience</a></h3>
            <p><a href="#">Healthy Yoga</a> with <a href="#">Kit Rich</a></p>
            <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> 20 min</span> <span> <span class="icon-signal icon"></span> Advanced</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="program">
          <a href="#" class="d-block mb-0 thumbnail"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
          <div class="program-body">
            <h3 class="heading mb-2"><a href="#">Rise &amp; Shine</a></h3>
            <p><a href="#">Power Yoga</a> with <a href="#">Sara Clark</a></p>
            <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> 20 min</span> <span> <span class="icon-signal icon"></span> Intermediate</span></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <div class="program">
          <a href="#" class="d-block mb-0 thumbnail"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
          <div class="program-body">
            <h3 class="heading mb-2"><a href="#">Bend &amp; Stretch</a></h3>
            <p><a href="#">Meditation Yoga</a> with <a href="#">David Scott</a></p>
            <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> 20 min</span> <span> <span class="icon-signal icon"></span> Beginner</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="program">
          <a href="#" class="d-block mb-0 thumbnail"><img src="images/img_5.jpg" alt="Image" class="img-fluid"></a>
          <div class="program-body">
            <h3 class="heading mb-2"><a href="#">Vinyasa Yoga</a></h3>
            <p><a href="#">Meditation Yoga</a> with <a href="#">David Scott</a></p>
            <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> 20 min</span> <span> <span class="icon-signal icon"></span> Advanced</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="program">
          <a href="#" class="d-block mb-0 thumbnail"><img src="images/img_6.jpg" alt="Image" class="img-fluid"></a>
          <div class="program-body">
            <h3 class="heading mb-2"><a href="#">Barre Workout</a></h3>
            <p><a href="#">Meditation Yoga</a> with <a href="#">David Scott</a></p>
            <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> 20 min</span> <span> <span class="icon-signal icon"></span> Beginner</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
