<head>
  <title>{{ site.data.home.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" class="next-head">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/fonts/icomoon/style.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/jquery-ui.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap-datepicker.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

  <link rel="stylesheet" href="{{ "/assets/fonts/flaticon/font/flaticon.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/aos.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
</head>
