
<div class="py-5 quick-contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div>
          <span class="icon-room text-white h2 d-block"></span>
          <h2>Location</h2>
          <p class="mb-0">Lisbon <br> Portugal</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div>
          <span class="icon-comments text-white h2 d-block"></span>
          <h2>Get In Touch</h2>
          <p class="mb-0">Email: {{ site.data.en.contact.email }} <br>
          Phone: {{ site.data.en.contact.phone }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
