<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-5 mb-md-0">
          <div class="img-border">
            <a href="{{ include.scope.url }}" class="popup-vimeo image-play">
              <span class="icon-wrap">
                <span class="icon icon-play"></span>
              </span>
              <img src="{{ include.scope.image_1 }}" alt="" class="img-fluid rounded">
            </a>
          </div>
          {% if include.scope.image_2 %}
            <img src="{{ include.scope.image_2 }}" alt="Image" class="img-fluid image-absolute hidden-sm">
          {% endif %}
      </div>
      <div class="col-md-5 ml-auto">
        <div class="section-heading text-left">
          <h2 class="mb-5">{{ include.scope.title }}</h2>
        </div>
        <p class="mb-4">{{ include.scope.text }}</p>
        <p><a href="{{ include.scope.url }}" class="popup-youtube text-uppercase">{{ include.scope.text_link }} <span class="icon-arrow-right small"></span></a></p>
      </div>
    </div>
  </div>
</div>
