---
layout: default
---

{% include components/menu.html scope=site.data.pt.menu language='pt' %}
{% include components/cover.html covers=site.data.pt.agenda.covers %}

<div class="site-section block-15">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2>Agenda</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F24RobbersSwingBand%2F&tabs=events,timeline&width=400&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=643772419306962" width="400" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>
