---
layout: default
---

{% include components/menu.html scope=site.data.pt.menu language='pt' %}
{% include components/cover.html covers=site.data.pt.music.covers %}

<div class="site-section block-15">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2>Stealing Swing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <iframe style="border: 0; width: 500px; height: 373px;" src="https://bandcamp.com/EmbeddedPlayer/album=169672707/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://24robbersswingband.bandcamp.com/album/stealing-swing">Stealing Swing by 24 Robbers Swing Band</a></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h4>Queres fazer o download do nosso album?<br />Preenche este formulário e entraremos em contacto contigo!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <form action="https://formspree.io/mlewgzal" method="POST" class="p-5 bg-white">
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="fullname">Nome</label>
              <input type="text" id="fullname" class="form-control" placeholder="Nome" name="fullname">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label class="font-weight-bold" for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="Email" name="_replyto">
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12">
              <label class="font-weight-bold" for="message">Notas</label>
              <textarea name="notes" id="notes" cols="30" rows="5" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pill text-white px-5 py-2">Mandar mensagem</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
